#untappd-checkin {
  width: 400px;
  height: 150px;
  background-color: #FFFFFF;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  opacity: 1.0;
  z-index: 1002;
  position: absolute;
  display: none;
}
#untappd-mask {
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1000;
  display: none;
}
.untappd-char-count {
  float: right;
}
.untappd-buttons {
  clear: left;
}
.untappd-details {
  height: 120px;
}
[id^='beerpi-untappd-checkin-form'] {
  display: none;
}
.form-item.form-item-untappd-twitter {
  width: 22px;
  padding-left: 20px;
  background: url('../images/social-sprite.png') 0 6px no-repeat;
  vertical-align: top;
  float: left;
  margin: 0;
}
.form-item.form-item-untappd-facebook {
  width: 22px;
  padding-left: 20px;
  background: url('../images/social-sprite.png') 0 -18px no-repeat;
  vertical-align: top;
  float: left;
  margin: 0;
}
.form-item.form-item-untappd-foursquare {
  
}
.form-item-untappd-rate {
  float: left;
  width: 100px;
}
.form-item-untappd-rate label {
  float: left;
  margin-right: 3px;
}
.untappd-throbber {
  display: none;
  background: url('/misc/throbber.gif') no-repeat 0 -20px;
  height: 15px;
  width: 15px;
  margin-left: -5px;
  margin-top: 13px;
}
.untappd-message {
  display: none;
}
.untappd-label {
  float: left;
  margin-right: 4px;
}
.untappd-badges {
  margin: 10px 0;
}
.untappd-badges .untappd-badge:not(:first-child) {
  margin-left: 15px;
}
.untappd-badge {
  display: inline-block;
  text-align: center;
}
.block-beerpi-untappd #edit-search {
  width: 93%;
}